@import './base.css';

#app {
  width: 100%;
  padding: 2rem;
  font-weight: normal;
  margin-top: 10px;
}

a,
.green {
  text-decoration: none;
  color: orange;
  transition: 0.4s;
  padding: 3px;
}

select{
  background-color: black;
  color: orange;
  padding: 5;
  margin-top: 15px;
  margin-bottom: 15px;
}
select option{
  padding: 5;

}
option:hover{
  background-color:rgb(255, 165, 0, 0.5);

}

body{
  background-color: black;
  color: rgba(255, 166, 0, 0.705);
}

@media (hover: hover) {
  a:hover {
    background-color: rgb(255, 165, 0, 0.5);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
